<!DOCTYPE html>
<html>
  <head>
    <title>AuteurFlix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

   <script type="text/javascript">
    window.logoURL = "<%=image_url('auteurflix_logo.png')%>";
    window.kidsIntroUrl = "<%=image_url('kids_intro.png')%>";
    window.watchGif = "<%=image_url('netflix-and-chill-you-know.gif')%>";
    window.downloadGif = "<%=image_url('homero-netflix.gif')%>";
    window.everywhereGif = "<%=image_url('popcorn-spongebob.gif')%>";
    window.faqGif = "<%=image_url('FAQ.gif')%>";
   </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
